.main{
    display: flex;
    justify-content: space-around;
    // border: 1px solid green;
    margin-top: 20px;
    

    .image{
        display: flex;
        
        align-items: center;
        justify-content: flex-start;
        
        img{
            width: 80%;
        }
    }

    .Data{
        display: flex;
 
        align-items:flex-start;
        justify-content: space-evenly;
        flex-direction: column;
      
        .title{
            
            .heading{
                display: flex;
                font-weight: 600;
                font-size: 35px;
            }

            .subheading{
                padding-top: 20px;
            }
           
            
        }
    }

    .button{
        button{
            background-color: transparent;
            padding: 10px;
            font-size: 20px;
            font-weight: 600;
            border-radius: 10px;
            border: 1px solid black;
            
        }
    }
      
    
}