.Home{

    .cards_big_div{
        display: flex;
    justify-content: space-between;

    // margin-top: 100px;
      margin: 20px;
    // margin-right: 50px;
    // margin-top: 100px;
    // margin-bottom: 50px;
    }
    

    .cards{
        margin-top: 20px;
        // border: 1px solid rgb(105, 105, 237);

        .heading{
            padding: 20px;
            font-size: 30px;
            font-weight: 600;
        }

        .line{
            width: 50%;
            border: 2px solid gainsboro;
        }
    }
    .topics{
        
        display: flex;
        padding: 20px;
        gap: 20px;
    }
}