.Home{
    

    .cards{
        margin-top: 20px;
        // border: 1px solid rgb(105, 105, 237);

        .heading{
            padding: 20px;
            font-size: 30px;
            font-weight: 600;
        }

        .line{
            width: 50%;
            border: 2px solid gainsboro;
        }
    }
    .topics{
        
        display: flex;
        padding: 20px;
        gap: 20px;
    }
}