.Topics{
    // width: 100%;
    // display: flex;
    // margin: 5px;
    width: 500px;
    margin: 5px;
    padding: 10px;
    

    background-color: rgb(104, 150, 203);

    // background-image: url("../../../public/images/process.png");
    // background-size: cover;

    color:black;
    font-weight: 500;
    font-size: large;

    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border-radius: 10px;
    height: 120px;

    
    .text{
        display: flex;
        justify-content: center;
        color: white;
        font-weight: 500;
        font-size: large;
           
    }
  
}