.searchBox{

 

 .inputSection{
  display: flex ;   
  align-items: center;
  justify-content: center;
//   flex-direction: column;

  input{
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    width: 50vw;
  }

  .dropDown{
    display: flex;
    align-items: center;
    margin-left: 5px;
  }

  
}

.searchIteams{
    
    align-items: center;
    justify-content: center;
    width: 50vw;
    margin: 15px;
    padding-left: 10px;
    display: flex;
    text-align: left;
    background-color: rgb(234, 228, 228);
    border-radius: 5px;

    .searchProblem{
        width: 50vw;
        height: 10vh;
    }
  
  }
}
